<div id="noEvent" ng-show="testArray.size === 0">
  <h1 class="cover-heading">Enginn bolti <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></h1>
  <p class="lead">Það er enginn bolti skráður í augnablikinu</p>
  <p class="lead">
    <a ng-click="createEventButton()" class="btn btn-lg btn-default takki">Stofna Refabolta</a>
  </p>
  <p class="lead">
    <a ng-click="oldEventsButton()" class="btn btn-lg btn-default takki2">Eldri Refaboltar</a>
  </p>
</div>

<div id="someEvent" ng-show="testArray.size !== 0">
  <h1 class="cover-heading">Refaboltar <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span></h1>
  <p ng-repeat="value in testArray">{{value}} Siggi</p>
  <p class="lead">
    <a ng-click="testButton()" class="btn btn-lg btn-default takki2">Eldri Refaboltar</a>
  </p>
</div>