<div>
  <form novalidate class="">
    <div style="display:inline-block; min-height:290px;">
      <datepicker ng-model="newEvent.dateOfEvent" min-date="minDate" show-weeks="false" class="well well-sm"></datepicker>
    </div>
    Klukkan: <input type="text" ng-model="newEvent.timeOfEvent" required /> <br>
    Hvar: <input type="text" ng-model="newEvent.location" /> <br>
    Hámark Refa: <input type="number" min="2" max="30" ng-model="newEvent.maxPlayers" /> <br>
    Nánari lýsing: <textarea rows="4" cols="50" ng-model="newEvent.desc"></textarea>

    <p ng-bind="newEvent.dateOfEvent"></p>
    <p ng-bind="newEvent.timeOfEvent"></p>
    <p ng-bind="newEvent.location"></p>
    <p ng-bind="newEvent.maxPlayers"></p>
    <p ng-bind="newEvent.desc"></p>

    <input type="submit" ng-click="createEvent()" />
  </form>
</div>