<div ng-show="loggedIn">
  <h1 class="cover-heading">Stofna Bolta</h1>

  <form novalidate class="newEvent">
    <p class="lead labelFox">Hvaða dag? <span class="glyphicon glyphicon-calendar foxGlyph"></span></p>
    <div style="display:inline-block;">
      <datepicker ng-model="date" min-date="minDate" show-weeks="false" class="well well-sm foxDate"></datepicker>
    </div> <br>
    <p class="lead labelFox">Klukkan hvað? <span class="glyphicon glyphicon-time foxGlyph"></span></p>
    <input id="timeBox" type="time" ng-model="inputTime" style="width:185px;" required /> <br>
    <p class="lead labelFox">Hvar? <span class="glyphicon glyphicon-map-marker foxGlyph"></span></p>
    <input id="locationBox" type="text" placeholder="Eskifjörður" ng-model="newEvent.location" style="width:185px;" required /> <br>
    <p class="lead labelFox">Hversu margir refir? <span class="glyphicon glyphicon-user foxGlyph"></span></p>
    <input type="number" min="2" max="30" ng-model="newEvent.maxPlayers" required /> <br>
    <p class="lead labelFox">Nánari lýsing <span class="glyphicon glyphicon-info-sign foxGlyph"></span></p>
    <textarea rows="4" cols="50" ng-model="desc"></textarea> <br>

    <input class="btn btn-lg btn-default takki2" style="margin: 10px;" type="submit" ng-click="createEvent()" value="Stofna" />
  </form>
</div>

<div ng-hide="loggedIn">
  <h1 class="cover-heading">Skráðu þig inn venör</h1>
  <p class="lead">Þú verður að vera innskráð/ur til að geta stofnað refabolta</p>
</div>